@font-face {
    font-family: "AnimeAce";
    src: url("font/animeace2_reg.ttf");
}

@font-face {
    font-family: "winter";
    src: url("resources/font/Winter\ Poppins\ .ttf");
}

@font-face {
    font-family: "monst";
    src: url("resources/font/Montserrat-Light.ttf");
}